
<div class="row mt-4">
	{{#each shoes}}
		<div class="col-sm-6 col-lg-4">
			<div class="card">
				<div class="card-body">

					<img src="{{this.image}}" alt="" width="100px" height="100px">

					<a href="/shoes/{{this.slug}}" class="slug">
						<h5 class="card-title">{{this.name}}</h5>
					</a>
					<p class="card-text">{{this.price}}</p>
					<p class="card-text">{{this.description}}</p>
					
					<a href="/shoes/{{this._id}}/edit" class="btn btn-warning">Update</a>
					<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{this._id}}">Delete</a>
				</div>
			</div>
		</div>
	{{/each}}
</div>


